.dsc-mbm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .craftheading {
    font-size: large;
  }
}

@media screen and (max-width: 600px) {
  .craftheading {
    font-size: x-large;
  }
  .explorebtn {
    background-color: darkblue;
    border-radius: 12px;
    width: 235px;
  }
}

/* /////////////////// */
.explorebtn {
  background-color: darkblue;
  width: 235px;
  font-size: x-large;
  border-radius: 20px;
}
.cards {
  border: 2px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .viewproject {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .viewproject {
    text-align: center;
  }
  .explorebtn {
    background-color: darkblue;
    border-radius: 12px;
    width: 172px;
  }
}
