.categoryCard {
  position: relative;
  overflow: hidden;
  min-width: 255px;
  max-width: 320px;
  height: 400px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: #000000;
  padding: 0;
  transition: transform 450ms;
  text-align: center;
}
.categoryCard:hover {
  transform: scale(1.02);
}

.categoryCard:hover a,
.categoryCard.hover a {
  text-decoration: underline;
  visibility: visible;
}

.collection-card-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 3px;
}

.collection-card-link {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  visibility: hidden;
}

.collection-card-link:hover {
  color: #ffffff;
}
.categoryCard *,
.categoryCard *:before,
.categoryCard *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.categoryCard img {
  backface-visibility: hidden;
  vertical-align: top;
}
.categoryCard img {
  vertical-align: top;
  max-height: 100%;
  object-fit: cover;
}

.categoryCard:hover img,
.categoryCard.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 1;
  opacity: 0.6;
}
.categoryCard:hover i,
.categoryCard.hover i {
  opacity: 0.7;

  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
