.navbarLinks {
  margin-left: auto;
}

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  /* font-size: 20px; */
}
.droplink {
  margin-right: 20px;
  margin-bottom: -10px;
}
.navborder {
  box-shadow: 0 -10px 2px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 19%);
  /* border-radius: 0 0 64px 64px; */
  color: white;
}

@media (max-width: 800px) {
  .navbarBrand {
    margin-left: 5px;
  }
}
