@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.product-modal-button {
  border: 0;
  background-color: transparent;
}

figure.box {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 345px;
  min-height: 500px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  background-color: #000000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
figure.box *,
figure.box *:before,
figure.box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
figure.box img {
  /* max-width: 100%; */
  backface-visibility: hidden;
  vertical-align: top;
  /* object-fit: cover; */
}
figure.box img {
  max-height: 500px;
  min-height: 500px;
  vertical-align: top;
  /* -webkit-transition: all 2s ease-out; */
  /* transition: all 2s ease-out; */
  object-fit: contain;
  /* opacity: 0.8; */
}
figure.box figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.box figcaption:before,
figure.box figcaption:after,
figure.box figcaption div:before,
figure.box figcaption div:after {
  opacity: 0;
}
figure.box figcaption:before,
figure.box figcaption:after {
  height: 50%;
  width: 50%;
  position: absolute;
  content: "";
  /*   background-color: #080808; */
}
figure.box figcaption:before {
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

figure.box:hover img,
figure.box.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 1;
  opacity: 0.6;
}
figure.box:hover i,
figure.box.hover i {
  opacity: 0.7;
  /*   -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; */
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
