@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.product-modal-button {
  border: 0;
  background-color: transparent;
}

.product-card-image {
  width: 320px; /* width of container */
  height: 400px; /* height of container */
  object-fit: cover;
}

.product-anchor {
  margin-top: 20px;
  text-decoration: none;
  color: #23232c;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.product-anchor:hover {
  border-bottom: 1pxx solid black;
  color: black;
}

figure.box {
  position: relative;
  overflow: hidden;
  margin: 10px;

  color: #ffffff;
  font-size: 16px;
  background-color: #000000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
figure.box *,
figure.box *:before,
figure.box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
figure.box img {
  backface-visibility: hidden;
  vertical-align: top;
}
figure.box img {
  vertical-align: top;

  object-fit: contain;
}

figure.box:hover img,
figure.box.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 1;
  opacity: 0.6;
}
figure.box:hover i,
figure.box.hover i {
  opacity: 0.7;

  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
