@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.box {
  position: relative;
  overflow: hidden;
  margin: 10px;
  color: #ffffff;
  font-size: 16px;
  background-color: #000000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: #000000;
  padding: 0;
  text-align: center;
}

.box img {
  max-height: 100%;
  vertical-align: top;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  /* filter: alpha(opacity=50);
  -webkit-opacity: 1; */
  object-fit: contain;
  opacity: 0.9;
}
.box:hover img,
.box.hover img {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.box:hover a,
.box.hover a {
  text-decoration: underline;
  visibility: visible;
}
.product-modal-button {
  border: 0;
  background-color: transparent;
}

.product-card-image {
  width: 320px; /* width of container */
  height: 400px; /* height of container */
  object-fit: cover;
}

.product-anchor {
  margin-top: 20px;
  text-decoration: none;
  color: #23232c;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.product-anchor:hover {
  border-bottom: 1pxx solid black;
  color: black;
}


