.categories-image-container {
  position: relative;
  text-align: center;
  background-color: black;
}

.categories-page-banner-content {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 100px;
  left: 30px;
  width: 600px;
}

.categories-page-banner-content p {
  font-size: 20px;
}

.categories-page-banner-content h3 {
  font-size: 25px;
}
