.categories-image-container {
  position: relative;
  text-align: center;
  background-color: black;
}

.categories-page-banner-content {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 40%;
  left: 42%;
}

.categories-page-banner-content p {
  font-size: 20px;
}

.categories-page-banner-content h3 {
  font-size: 30px;
  font-weight: normal;
}
