:root {
  --bs-anu: #fff;
}
.app {
  text-align: center;
  /* background-color: black; */
}
.navbar {
  height: 100px;
  /* background-color: transparent!important; */
  background-color: transparent !important;
  color: black;
  position: absolute;
  top: 0px;
  z-index: 10;
  background: #fff;
  width: 100%;
  transition-timing-function: ease;
  transition: all 0.5s;
}
.nav-link,.user {
  color: var(--bs-anu);
  font-size: 13px;
  margin-right: 15px;
  margin: 15px;
}

.navbar:hover {
  background-color: white !important;
  --bs-anu: rgb(26, 22, 22);
}
.active {
  border-bottom: 1px solid #ff7240;
}
