:root{
  --bs-anu: #fff;
}
.app {
  text-align: center;
  /* background-color: black; */
}
.navbar {
  height: 100px;
  /* background-color: transparent!important; */
  background-color: black !important;
  color: black;
}
.nav-link {
  color:  var(--bs-anu);
  font-size: 13px;
}

.navbar:hover {
  background-color: white !important;
  --bs-anu: rgb(26, 22, 22);

}
.navbar:hover ~ .nav-link {
  color: black;
}